---
import BaseLayout from "../layouts/BaseLayout.astro";
import TimeLineElement from "../components/cv/TimeLine.astro";
---

<BaseLayout title="Resume" sideBarActiveItemID="cv">
  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Profile</div>
  </div>

  <div class="mb-10 text-justify">
    Dedicated and passionate US Army Veteran leveraging the skills learned while serving as an Active Duty
    Officer and Critical Care Nurse to transition into Full Stack Web Development. Experience in numerous
    programming languages and libraries, including React, JavaScript, Python, Node.js, Prisma, TRPC,
    Tailwind, HTML, and CSS.
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Education</div>
  </div>

  <div class="time-line-container grid gap-4 mb-10">
    <TimeLineElement
      title="Full Stack Web Developer"
      subtitle="2022 at Bottega University, Salt Lake City, Utah"
    />
    <TimeLineElement
      title="Bachelor of Science in Nursing"
      subtitle="2010-2017 at Westminster College, Salt Lake City, Utah"
    />
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Experience</div>
  </div>

  <div class="time-line-container mb-10">
    <TimeLineElement
      title="Frontend Engineer"
      subtitle="March 2023 – Present at ASEA Global, Pleasant Grove, Utah"
    >
      Collaborated closely with a team of designers and back-end developers to create interactive,
      seamless user experiences for the company’s virtual office. Successfully converted multiple WordPress
      websites into a headless CMS, improving site performance, scalability, and security. Developed
      and implemented reusable, responsive front-end components using React, contributing to
      a more efficient development process and a consistent user experience.
    </TimeLineElement>
    <TimeLineElement
      title="Jr. Full Stack Developer"
      subtitle="November 2022 – March 2023 at Listo Global, Lehi, Utah"
    >
      Worked as a full stack developer contractor building numerous features and projects using React,
      TypeScript, Tailwind, Node.js, prisma, and TRPC. Chosen to work directly with the CTO to implement
      new features according to company and sector best-practices.
    </TimeLineElement>
    <TimeLineElement
      title="Captain US Army - ICU RN"
      subtitle="2017 – 2022"
    >
      Served as an ICU RN in a 20-bed mixed adult ICU, providing high-quality patient-care to DOD
      personnel and civilians. Gained extensive experience in managing Covid-19 patients, managing
      various types of shock, IV vasopressors, sedation, paralytics, and continuous Renal Replacement Therapy.
    </TimeLineElement>
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Skills</div>
  </div>

  <ul class="list-disc md:columns-5 columns-2 mx-6">
    <li>JavaScript</li>
    <li>React.JS</li>
    <li>Next.js</li>
    <li>Astro</li>
    <li>tRPC</li>
    <li>Prisma</li>
    <li>Flask</li>
    <li>Git</li>
    <li>Python</li>
    <li>MongoDB</li>
    <li>SQL Databases</li>
    <li>Critical Thinking</li>
    <li>Communication</li>
    <li>Teamwork</li>
    <li>Time Management</li>
    
  </ul>
</BaseLayout>
