---
import BaseLayout from "../layouts/BaseLayout.astro";
import HorizontalCard from "../components/HorizontalCard.astro";
---

<BaseLayout title = "Projects" sideBarActiveItemID="projects">
  <div>
    <div class="text-3xl w-full font-bold mb-5">My Projects</div>
  </div>

  <HorizontalCard
    title="Social Me Mobile Therapy"
    img="/1.png"
    desc="A website I built for a client that provides mobile therapy mental health services for people struggling with OCD and anxiety."
    url="https://www.someslc.com"
    badge="Astro"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Garden Site"
    img="/2.png"
    desc="My never ending passion project. A full stack web app built with Next.js, Tailwind, Prisma, and tRPC."
    badge="Next.js/Full Stack"
    url="https://garden-site-one.vercel.app"
  />

  <!-- <div>
    <div class="text-3xl w-full font-bold mb-5 mt-10">Projects Header</div>
  </div> -->

  <HorizontalCard
    title="ALGS Save The Date"
    img="/3.png"
    desc="A neomorphism website I built with Astro.js to invite my brothers to the 2023 ALGS World Championship (works best on chrome browsers)."
    url="https://save-the-date-algs-2023.vercel.app"
    badge="Astro"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Digital Business Card"
    img="/4.png"
    desc="A digital business card I built with only HTML and CSS."
    url="https://quiet-torte-d99c02.netlify.app"
    badge="HTML/CSS"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Stouty Swat"
    img="/5.png"
    desc="A fully functioning web 3 application built on the ethereum blockchain. Includes the ability to connect a crypto wallet and swap tokens."
    url="https://stoutyswap.netlify.app"
  />
</BaseLayout>
