---
const today = new Date();
---

<footer class="footer footer-center block mb-5 pt-10">
  <div class="pb-2">
    &copy; {today.getFullYear()} Zach Stout
  </div>
  <div class="inline opacity-75">
    <!-- Thanks for using this template. You can keep this line to support my work :) -->
    <a href="https://astrofy-template.netlify.app/" target="_blank" class="font-bold">Portfolio</a> developed by
    <a href="https://github.com/zacharyst10" target="_blank" class="font-bold">Zach Stout ⚡️</a>
  </div>
</footer>
<style>

</style>
